/* Body */
 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #000;     
    color: #f0eadc;              
    overflow-x: hidden;
  }
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #872d37;   
    padding: 8px 24px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .banner-logo {
    width: 68px;
    height: auto;
  }
  
  .banner-title {
    font-family: 'Bodoni Moda', serif;
    font-size: 1.2rem;
    font-weight: normal;
    align-self: flex-end;
    color: #f0eadc;
    margin: 0;
  }
  
  /* Navigation im Banner */
  .banner-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-btn {
    display: inline-block;
    margin-left: 12px;
    padding: 8px 16px;
    background-color: #f0eadc;   
    color: #512127;             
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .nav-btn:hover {
    background-color: #f0eadc;
  }
  
  /* Herz-Button */
  .heart-btn {
    font-size: 1.2rem;
    line-height: 1;
    padding: 8px 12px;
  }
  
  /* Main‐Content */
  .content {
    padding: 24px;
  }

  .heading {
    text-align: center;
    margin-top: 2rem;
    color: #f0eadc;
  }
  
  .cocktail-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
  }
  
  .cocktail-card {
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    background-color: #f0eadc;
  }

  .cocktail-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .cocktail-name {
    font-weight: bold;
    color:#000;
  }

  .btn-red {
    display: inline-block;
    padding: 8px 16px;
    background-color: #512127;   
    color: #f0eadc;             
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
  }

  .search-input {
    background-color: #f0eadc;
    color: #000;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 1rem;
    width: 250px;
    border: none;
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
  }
  
  label {
    color: #f0eadc;
    font-weight: bold;
  }

  h2 {
    color: #f0eadc;
    font-weight: bold;
    padding: 8px 16px;
  }

  h3 {
    color: #f0eadc;
    font-weight: bold;
    padding: 8px 16px;
  }
  
  