<!--Used a chatGPT generated template https://chatgpt.com/share/683d9b02-3164-800e-b9cb-468958df9cab-->
{% extends "base.html" %}

{% block title %}Home - Midnight Mixes{% endblock %}

{% block head %}
<title>Home - Midnight Mixes</title>
<link rel="stylesheet" href="/static/css/index.css"/>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/index.css"/>
<body>
<!--how to make a clickable image with HTML&CSS: https://chatgpt.com/share/68458c9e-9310-800e-a529-608201ccf586-->
<main class="main-content">
    <div class="card">
        <a href="/cocktails/search/ingredient">
            <img src="/static/images/card_ingr.png" alt="Cocktail by Ingredient"/>
        </a>
    </div>
    <div class="card">
        <a href="/cocktails/random">
            <img src="/static/images/card_random.png" alt="Random Cocktail"/>
        </a>
    </div>
    <div class="card">
        <a href="/cocktails/complexity?level=start">
            <img src="/static/images/card_level.png" alt="Cocktail by Level"/>
        </a>
    </div>
</main>
</body>
{% endblock %}
