{% extends "base.html" %}

{% block head %}
<title>Cocktail - Midnight Mixes</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/index.css" />
<div class="top-bar">
    <!--https://www.w3schools.com/jsref/met_his_back.asp-->
      <button class="back-btn" onclick="window.history.back()">←</button>
  </div>
{% if 'ingredient' in data.search %}
<form method="POST" action="{{ url_for('search_ingr') }}" class="search-form">
    <!--https://flask-wtf.readthedocs.io/en/0.15.x/quickstart/-->
    <!--https://stackoverflow.com/questions/22084886/add-a-css-class-to-a-field-in-wtform-->
    {{ form.hidden_tag() }}
    {{ form.item.label }}
    {{ form.item(class="search-input") }}
    {{ form.submit(class='btn-red') }}
</form>
{% endif %}

<!--https://jinja.palletsprojects.com/en/stable/templates/-->
{% if data.item %}
<h3>Results for "{{ data.item }}":</h3>
{% if data.cocktails %}
<div class="cocktail-grid">
  {% for c in data.cocktails %}
  <div class="cocktail-card">
    <a href="/cocktails/{{ c.id_cocktail }}">
            <!--https://docs.pexip.com/admin/jinja_templates.htm-->
      <img src="/static/images/{{ c.image_path | replace('\\', '/') }}"
           alt="{{ c.cocktail_name }}" class="cocktail-image" />
      <p class="cocktail-name">{{ c.cocktail_name }}</p>
    </a>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No cocktails found for that ingredient.</p>
{% endif %}
{% endif %}
{% endblock %}
